/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: HomeTable;
	border-collapse: collapse;
	cell-padding-right: 6px;
	cell-padding-left: 12px;
	cell-padding-top: 6px;
	cell-padding-bottom: 4px;
	max-id: 5;
	background-color: #eaecf4;
}

mcTableColumnStyle
{
	span: 2;
	separator-style: none;
	separator-width: 6px;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	id: 5;
	name: Top;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	background-color: #8dbb9f;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Header;
	color: #1f5b42;
	vertical-align: top;
	text-align: center;
	font-size: 12pt;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 3px;
	background-color: #8dbb9f;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	name: BodyVertCentered;
	id: 1;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	id: 3;
	name: BodyVertTop;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	id: 4;
	name: Footer1;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	background-color: #8dbb9f;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}


/* Cell Styles: */
 
.TableStyle-HomeTable
{
	border-collapse: collapse;
	background-color: #eaecf4;
	border-spacing: 0px 0px;
}

.TableStyle-HomeTable .Column-Column1
{
	
}

.TableStyle-HomeTable .Head-Top
{
	
}

.TableStyle-HomeTable .HeadI-Column1-Top
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadI-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadE-Column1-Top
{
	border-right-width: 6px;
	border-right-style: none;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadE-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadF-Column1-Top
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadF-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadH-Column1-Top
{
	border-right-width: 6px;
	border-right-style: none;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadH-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadD-Column1-Top
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadD-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadC-Column1-Top
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadC-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadB-Column1-Top
{
	border-right-width: 6px;
	border-right-style: none;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadB-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadA-Column1-Top
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadA-Column1-Top p
{
	
}

.TableStyle-HomeTable .HeadG-Column1-Top
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .HeadG-Column1-Top p
{
	
}

.TableStyle-HomeTable .Head-Header
{
	
}

.TableStyle-HomeTable .HeadI-Column1-Header
{
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
}

.TableStyle-HomeTable .HeadI-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadE-Column1-Header
{
	border-right-width: 6px;
	border-right-style: none;
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-HomeTable .HeadE-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadF-Column1-Header
{
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-HomeTable .HeadF-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadH-Column1-Header
{
	border-right-width: 6px;
	border-right-style: none;
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
}

.TableStyle-HomeTable .HeadH-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadD-Column1-Header
{
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-HomeTable .HeadD-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadC-Column1-Header
{
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
}

.TableStyle-HomeTable .HeadC-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadB-Column1-Header
{
	border-right-width: 6px;
	border-right-style: none;
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
}

.TableStyle-HomeTable .HeadB-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadA-Column1-Header
{
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
}

.TableStyle-HomeTable .HeadA-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .HeadG-Column1-Header
{
	color: #1f5b42;
	font-size: 12pt;
	text-align: center;
	vertical-align: top;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
}

.TableStyle-HomeTable .HeadG-Column1-Header p
{
	color: #1f5b42;
	font-size: 12pt;
}

.TableStyle-HomeTable .Foot-Footer1
{
	
}

.TableStyle-HomeTable .FootI-Column1-Footer1
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .FootI-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootE-Column1-Footer1
{
	border-right-width: 6px;
	border-right-style: none;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-HomeTable .FootE-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootF-Column1-Footer1
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-HomeTable .FootF-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootH-Column1-Footer1
{
	border-right-width: 6px;
	border-right-style: none;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .FootH-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootD-Column1-Footer1
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-HomeTable .FootD-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootC-Column1-Footer1
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .FootC-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootB-Column1-Footer1
{
	border-right-width: 6px;
	border-right-style: none;
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .FootB-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootA-Column1-Footer1
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .FootA-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .FootG-Column1-Footer1
{
	background-color: #8dbb9f;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-HomeTable .FootG-Column1-Footer1 p
{
	
}

.TableStyle-HomeTable .Body-BodyVertCentered
{
	
}

.TableStyle-HomeTable .BodyI-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
}

.TableStyle-HomeTable .BodyI-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyE-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
	border-right-width: 6px;
	border-right-style: none;
}

.TableStyle-HomeTable .BodyE-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyF-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
}

.TableStyle-HomeTable .BodyF-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyH-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
	border-right-width: 6px;
	border-right-style: none;
}

.TableStyle-HomeTable .BodyH-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyD-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
}

.TableStyle-HomeTable .BodyD-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyC-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
}

.TableStyle-HomeTable .BodyC-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyB-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
	border-right-width: 6px;
	border-right-style: none;
}

.TableStyle-HomeTable .BodyB-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyA-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
}

.TableStyle-HomeTable .BodyA-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .BodyG-Column1-BodyVertCentered
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-weight: normal;
	vertical-align: middle;
}

.TableStyle-HomeTable .BodyG-Column1-BodyVertCentered p
{
	font-weight: normal;
}

.TableStyle-HomeTable .Body-BodyVertTop
{
	
}

.TableStyle-HomeTable .BodyI-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-HomeTable .BodyI-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyE-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
	border-right-width: 6px;
	border-right-style: none;
}

.TableStyle-HomeTable .BodyE-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyF-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-HomeTable .BodyF-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyH-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
	border-right-width: 6px;
	border-right-style: none;
}

.TableStyle-HomeTable .BodyH-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyD-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-HomeTable .BodyD-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyC-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-HomeTable .BodyC-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyB-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
	border-right-width: 6px;
	border-right-style: none;
}

.TableStyle-HomeTable .BodyB-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyA-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-HomeTable .BodyA-Column1-BodyVertTop p
{
	
}

.TableStyle-HomeTable .BodyG-Column1-BodyVertTop
{
	padding-left: 12px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-HomeTable .BodyG-Column1-BodyVertTop p
{
	
}


