/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: NoLines; 
	border-collapse: collapse; 
	cell-padding-top: 2pt; 
	cell-padding-bottom: 2pt; 
	cell-padding-left: 0px; 
	cell-padding-right: 10px; 
	margin-bottom: 18px; 
	margin-left: 0px; 
	margin-top: 6px; 
}

mcTableColumnStyle {
	span: 1; 
}

mcTableHeadStyle {
	span: 0; 
	vertical-align: top; 
	text-align: left; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	vertical-align: top; 
	text-align: left; 
}

mcTableFootStyle {
	span: 0; 
}

 
 
/* Cell Styles: */
 
.TableStyle_NoLines
{
	margin-left: 0px;
	margin-top: 6px;
	margin-bottom: 18px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 2pt 10px 2pt 0px;
}

.TableStyle_NoLines_Head_0_0
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0 p
{
	
}

.TableStyle_NoLines_Head_0_0_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_NoLines_Head_0_0_RowSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_RowSep p
{
	
}

.TableStyle_NoLines_Head_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_ColSep p
{
	
}

.TableStyle_NoLines_Head_0_0_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_NoLines_Head_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_RowEnd p
{
	
}

.TableStyle_NoLines_Head_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_NoLines_Head_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_NoLines_Head_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Head_0_0_ColEnd p
{
	
}

.TableStyle_NoLines_Body_0_0
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_RowSep
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_ColSep
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_RowEnd
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_NoLines_Body_0_0_ColEnd
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_NoLines_Foot_0_0
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0 p
{
	
}

.TableStyle_NoLines_Foot_0_0_RowSep_ColSep
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_NoLines_Foot_0_0_RowSep
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_RowSep p
{
	
}

.TableStyle_NoLines_Foot_0_0_ColSep
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_ColSep p
{
	
}

.TableStyle_NoLines_Foot_0_0_RowSep_ColEnd
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_NoLines_Foot_0_0_RowEnd
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_RowEnd p
{
	
}

.TableStyle_NoLines_Foot_0_0_RowEnd_ColSep
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_NoLines_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_NoLines_Foot_0_0_ColEnd
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle_NoLines_Foot_0_0_ColEnd p
{
	
}

